/* 52 framework grid */

$max-columns: 16 !default;
$column-width: 40px !default;
$gutter-width: 10px !default;

@mixin width($columns, $side_gutters: false) {
  @if $side_gutters == true {
    width: ($column-width + ($gutter-width * 2)) * ($columns);
  } @else {
    width: ($column-width + ($gutter-width * 2)) * ($columns - 1) + $column-width;
  }
}

@mixin column($columns) {
  margin-left: $gutter-width;
  margin-right: $gutter-width;
  display: inline;
  overflow: hidden;
  float: left;
  position: relative;
  @include width($columns);
}

@mixin row($inner: false) {
  overflow: hidden;
  @if $inner == false {
    margin: 0 auto;
    @include width($max-columns, true);
  } @else {
    margin: 0 -$gutter-width;
    display: inline-block;
    width: auto;
  }
}