!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title 52Framework -- brought to you by the enavu network
      %meta{:content => "", :name => "keywords"}/
      %meta{:content => "", :name => "description"}/
      / this is the javascript allowing html5 to run in older browsers
      %script{:src => "javascripts/html5.js"}
      %link{:href => "stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
      :css
        /* Feel free to remove these styles, they are for demo page */
        
        header {height:112px; position:relative; margin-bottom:5px;}
          header .logo {font-size:2.5em; height:52px; padding-top:28px; font-weight:700; text-shadow:1px 1px 2px #000; color:#fff; filter: Shadow(Color=#666666, Direction=135, Strength=3);}
          header .statement {width:20%; text-align:right; padding-top:30px;}
        header nav { background-color:#525252; color:#fff; height:30px;}
          nav ul {list-style:none;}
          nav ul li {float:left; margin-left:5px;}
          nav ul li a {display:block; color:#fff; text-decoration:none; padding:2px 8px; margin-top:8px;  
                  -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;}
          nav ul li a:hover, nav ul li.active a {background-color:#fff; color:#000;}
        aside {min-height:525px;}  
        
          .submit, .submit:visited {
            background: #525252; 
            display: inline-block; 
            padding: 5px 10px 6px; 
            color: #fff; 
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
            border:none;
            text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
            position: relative;
            cursor: pointer;
            margin-bottom:5px;
          }
        
        footer { font-size:.8em; }
        .grid p {
          font:6em "Trebuchet MS", Arial, Helvetica, sans-serif;
          color: #000;
          text-align: center;
          border: 1px solid #000;
          margin: 0 0 20px 0;
        }
  %body
    .container
      %header
        .logo.left 52framework
        .statement.right The framework from the future!
        .clear
        %nav
          %ul
            %li.active
              %a{:href => "http://52framework.com/demo"} Home
            %li
              %a{:href => "http://52framework.com/documentation"} Documentation
            %li
              %a{:href => "http://52framework.com/about"} About
            %li
              %a{:href => "http://enavu.com"} enavu
      .clear
      %aside
        %h2 Form Elements
        %form
          %fieldset
            %legend Fieldset
            %label{:for => "normalText"} Normal Text
            %input#normalText{:name => "normalText", :type => "text", :value => "normal text field"}/
            %label{:for => "email"} Email
            %input#email{:name => "email", :type => "email", :value => "email@field.com"}/
            %label{:for => "url"} URL
            %input#url{:name => "url", :type => "url", :value => "url.com"}/
            %label{:for => "required"} Required
            %input#required{:name => "required", :required => "", :type => "text", :value => "required"}/
            .clear
            %button.submit submit »
      %section.content
        %article
          %h1 This is a title h1
          %blockquote.right
            This is what a blockquote will look like, floated right.
            %br/
            Testing a second line inside the blockquote.
          %p
            Lorem ipsum
            %a{:href => "#"} link one
            dolor sit amet, consectetur adipiscing elit. Nullam  a purus ac est dapibus feugiat eu eget nulla. Sed molestie feugiat viverra. Pellentesque consectetur, leo in faucibus congue, elit purus bibendum tellus, non tincidunt tortor mauris in sem. Suspendisse sodales metus eget sem suscipit eleifend. Proin porttitor, ante vel egestas pretium, nulla eros mollis eros, dapibus molestie lacus mi at sapien. Fusce risus risus, vulputate vel bibendum nec, accumsan non lacus.Fusce viverra mollis sapien non mattis. Suspendisse id est sapien. Aliquam quis tellus sed lorem fermentum rutrum in eget urna. Mauris ac dolor sit amet tellus tristique eleifend. Morbi venenatis ultricies eleifend. Nunc arcu lorem, feugiat pulvinar laoreet convallis, consequat sed elit. Suspendisse potenti.Vivamus a turpis augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi blandit erat eget purus gravida nec aliquam lectus sollicitudin. Aenean semper tortor nunc, dignissim malesuada arcu. Nunc nec massa a erat consectetur porta vitae eu mauris. Donec a orci dolor. Sed ac erat sed ipsum imperdiet accumsan.
        %article
          %h2 This is an h2
          %p
            Nulla facilisi. Etiam eget laoreet turpis. Duis magna odio, volutpat eu varius vitae, interdum eu felis. Pellentesque luctus tincidunt urna vel dictum. Etiam facilisis purus ut lorem aliquet eleifend. Sed porttitor semper turpis mattis iaculis. Vivamus a turpis augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi blandit erat eget purus gravida nec aliquam lectus sollicitudin.
            %code
              css {
              %br/
              \-moz-border-radius: 5px;
              %br/
              \-webkit-border-radius: 5px;
              %br/
              \-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
              %br/
              \-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
              %br/
              \}
            %p
            Aenean semper tortor nunc, dignissim malesuada arcu. Nunc nec massa a erat consectetur porta vitae eu mauris. Donec a orci dolor. Sed ac erat sed ipsum imperdiet accumsan. Nullam commodo neque adipiscing lacus sagittis sit amet dictum urna vestibulum. Nulla sapien turpis, laoreet in lacinia sed, malesuada sit amet odio. Maecenas cursus mauris vel nunc adipiscing id bibendum ipsum faucibus.
          %article
            %h3 This is an h3
            %p
              Duis ac arcu ante, at lacinia dui. Ut eget justo in nulla rutrum mollis. Mauris euismod justo et quam bibendum laoreet volutpat lorem mollis. In hac habitasse platea dictumst.
              %pre This is a pre tag
              Mauris ut eleifend neque. Duis nulla metus, tempus nec varius quis, tincidunt consectetur nisi. Donec rhoncus quam vel quam bibendum rutrum. Mauris et commodo felis. Nam varius eleifend nulla quis sagittis. Quisque id tortor at dolor dictum interdum.
          %article
            %h2 List Elements
            %ul
              %li List item 1
              %li List item 2
            .clear{:style => "height:20px;"}
            %h2 Other Elements Styling
            %p
              This is <abbr title="title">abbreviation</abbr>
              %br/
              This is <strong>strong</strong>
              %br/
              This is <em>emphasis</em>
              %br/
              This is <b>bold text</b>
              %br/
              This is <i>italic text</i>
              %br/
              This is <cite>cite</cite>
              %br/
              This is <small>small text</small>
              %br/
              This is <big>big text</big>
              %br/
              This is <del>deleted text</del>
              %br/
              This is <ins>inserted text</ins>
              %br/
              This is <dfn>defining instance</dfn>
              %br/
              This is <kbd>user input</kbd>
              %br/
              This is <samp>sample output</samp>
              %br/
              This is <q>inline quotation</q>
              %br/
              These are <sub>subscript</sub> and <sup>superscript</sub
              %br/
              This is <var>a variable</var>
      .clear{:style => "height:10px; border-bottom:1px solid #ccc;"}
    .grid
      .row
        .col_16
          %p 16
  
      .row
        .col_8
          %p 8
          .row
            .col_4
              %p 4
            .col_4
              %p 4
        .col_8
          %p 8
      .clear
  
      .row
        - (1..16).each do |i|
          %div{:class => "col_1"}
            %p 1
  
      .row
        .col_10
          %p 10
        .col_6
          %p 6
          .row
            .col_3
              %p 3
            .col_3
              %p 3
  
      .row
        .col_4
          %p 4
        .col_12
          %p 12
        .col_5
          %p 5
        .col_11
          %p 11
        .col_6
          %p 6
        .col_10
          %p 10
        .col_7
          %p 7
        .col_9
          %p 9
        .col_4
          %p 4
        .col_4
          %p 4
        .col_4
          %p 4
        .col_4
          %p 4

    %footer
      %p.align_left
        All rights reserved 52framework owned by
        %a{:href => "http://enavu.com"} enavu network
      %p.align_right
        Have questions? Contact me at angel@enavu.com | Even if it's just to say thanks!